@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Montez&family=Sacramento&family=Zhi+Mang+Xing&display=swap');

body {
    color: rgb(0, 0, 0);
    font-family: "EB Garamond", "Helvetica Neue", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-left: 90px;
    max-width: 1200px;
}

#hom {
  display: grid;
  grid-template-columns: 600px 480px auto;
  grid-template-rows: 50px 60px 25px auto;   
}

#nav {
  background-color: #BBAFA8;
  border-bottom-style: outset;
  border-bottom-width: medium;
  border-color: #C3B8B2;
  display: flex;
  justify-content: center;
  grid-row: 1 / 2; 
  grid-column: 1/ 2 / 3;
}
ul {
  display: flex;
  align-items: center;
  list-style: none; /* removes bullets */
  padding: .5em;
  margin: 0; 
}
  li {
  margin: 0 1em;
}

#name {
  background-color: #BBAFA8; 
  width: 580px;
  height: 625px;  
  grid-row: 2 / 3; 
  grid-column: 1 / 2;
}
h1 {
  color: rgb(0, 0, 0);
  font-family: "Leckerli One", "Helvetica Neue", "Arial", sans-serif;
  font-size: 72px;
  font-weight: 400;
  align-items: center;
}
h2 {
  color: rgb(0, 0, 0);
  font-family: "Zhi Mang Xing", "Helvetica Neue", "Arial", sans-serif;
  font-size: 48px;
  font-weight: 400;
  align-items: center;
}

#myphoto {
  float: right;
  grid-row: 2 / 3; 
  grid-column: 2 / 3;
}

footer {
  background-color: #BBAFA8; 
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}