

body {
  color: rgb(0, 0, 0);
  font-family: "EB Garamond", "Helvetica Neue", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-left: 90px;
  max-width: 1080px;
  display: grid;
  grid-template-columns: 600px 480px auto;
  grid-template-rows: 18.5px 600px 20px auto; 
}
header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
nav {
  background-color: #F4EAEA;  
  border-bottom-style: outset;
  border-bottom-width: medium;
  border-color: #F2D5D8;
}
nav ul {
  display: flex; 
  align-items: center; 
  list-style-type: none;
  padding: .5em;
  margin: 0;
}
nav li {
  margin: 0 1em;
}
#name {
  background-color: #BBAFA8; 
  box-sizing: border-box;
  width: 590px;
  height: 570px;  
  grid-row: 2 / 3; 
  grid-column: 1 / 2;
}
#mp {
  grid-row: 2 / 3; 
  grid-column: 2 / 3;
}
footer {
  align-items: center;
  background-color: #F4EAEA;  
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
